<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hnjd.ssm.mapper.GradeMapper">
    <resultMap id="baseResultMap" type="grade">
        <id column="id" property="id"/>
        <result column="grade_name" property="gradeName"/>
    </resultMap>
    <select id="selectAll" resultMap="baseResultMap">
		select * from grade
	</select>
</mapper>