<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hnjd.ssm.mapper.UserMapper">
    <resultMap id="baseResultMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="born_date" property="bornDate"/>
        <result column="head_img" property="headImg"/>
    </resultMap>

    <!--若客户未输入创建时间则不需要设置创建时间-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,
        <if test="bornDate != null">
            born_date,
        </if>
        head_img)values(#{username},#{password},
        <if test="bornDate != null">
            #{bornDate},
        </if>
        #{headImg})
    </insert>

    <delete id="deleteById">
		delete from user where id = #{id}
	</delete>

    <update id="update">
        update user
        <set>
            username = #{username} ,password = #{password} ,born_date = #{bornDate},
            <if test="headImg != null">
                head_img = #{headImg}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getById" resultMap="baseResultMap">
		select * from user where id = #{id}
	</select>

    <select id="selectAll" resultMap="baseResultMap">
		select * from user
	</select>

    <select id="login" resultMap="baseResultMap">
		select * from user where username = #{username} and password = #{password}
	</select>
</mapper>