<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hnjd.ssm.mapper.UserMapper">
    <resultMap id="baseResultMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="born_date" property="bornDate"/>
        <result column="head_img" property="headImg"/>
        <result column="salary" property="salary"/>
        <association property="gradeId" javaType="grade">
            <id column="grade_id" property="id"/>
            <result column="grade_name" property="gradeName"/>
        </association>
    </resultMap>

    <sql id="queryWhere">
        <where>
            <if test="username != null">
                and u.username = #{username}
            </if>
            <if test="password != null">
                and u.password = #{password}
            </if>
            <if test="id != null">
                and u.id = #{id}
            </if>
            <if test="deleteAll != null">
                and u.id in
                <foreach collection="deleteAll" open="(" separator="," close=")" item="id">
                    #{id}
                </foreach>
            </if>
            <if test="keyword != null">
                <bind name="keywordLike" value="'%'+keyword+'%'"/>
                and username like #{keywordLike}
            </if>
            <if test="beginTime != null">
                and born_date >= #{beginTime}
            </if>
            <if test="endTime != null">
                and born_date &lt;= #{endTime}
            </if>
            <if test="minSalary != null">
                and salary >= #{minSalary}
            </if>
            <if test="maxSalary != null">
                and salary &lt;= #{maxSalary}
            </if>
            and u.grade_id = g.id
        </where>
    </sql>

    <!--若客户未输入创建时间则不需要设置创建时间-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,
        <if test="bornDate != null">
            born_date,
        </if>
        head_img,
        <if test="salary != null">
            salary,
        </if>
        grade_id)values(#{username},#{password},
        <if test="bornDate != null">
            #{bornDate},
        </if>
        #{headImg},
        <if test="salary != null">
            #{salary},
        </if>
        #{gradeId.id})
    </insert>

    <delete id="deleteById">
        delete from user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="deleteAll != null">
                id in
                <foreach collection="deleteAll" open="(" separator="," close=")" item="deleteAll">
                    #{deleteAll}
                </foreach>
            </if>
        </where>
    </delete>

    <!--仅在用户已上传头像之后修改头像-->
    <update id="update">
        update user
        <set>
            <if test="username != null">
                username = #{username} ,
            </if>
            <if test="password != null">
                password = #{password} ,
            </if>
            <if test="bornDate != null">
                born_date = #{bornDate} ,
            </if>
            <if test="headImg != null">
                head_img = #{headImg} ,
            </if>
            <if test="salary != null">
                salary = #{salary} ,
            </if>
            <if test="gradeId != null">
                grade_id = #{gradeId.id}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="queryForList" resultMap="baseResultMap">
        select
        u.*,g.grade_name
        from user u join grade g
        <include refid="queryWhere"/>
        <if test="pageSize > 0">
            limit #{start} ,#{pageSize}
        </if>
    </select>

    <select id="queryForCount" resultType="integer">
        select count(u.id) from user u join grade g
        <include refid="queryWhere"/>
    </select>
</mapper>